<!-- <dx-button stylingMode="outlined" type="success" (onClick)="toggleView()">
  fgdfgdf
</dx-button>
<router-outlet></router-outlet> -->

<dx-tab-panel class="full">
  <dxi-item title="Приветствие" icon="comment">
    <app-hello></app-hello>
  </dxi-item>
  <dxi-item title="Презентация" icon="isnotblank">
    <dx-gallery
      #gallery
      id="gallery"
      [dataSource]="dataSource"
      height="800"
      [loop]="true"
      [showNavButtons]="true"
      [showIndicator]="true"
    ></dx-gallery>
  </dxi-item>
  <dxi-item title="Карта" icon="map">
    <app-map></app-map>
  </dxi-item>
</dx-tab-panel>
